{%extends 'layouts/auth_layout.html'%}

{%block content%}
<div class="row">
    {% if current_user.is_authenticated %}
    <div class="aside col-md-2">

        <h1>Hi {{ current_user.username|title }} !</h1>
        <p>Ready for some action ?</p>
        <a href="/createprofile">Create or Edit your profile</a><br>
        <a href="/sendmail">Send a test mail</a>
    </div>
    {% endif %}
    <div class="main col-md-9">
        {%if not current_user.profile == None%}
        <h1> {{current_user.profile.first_name}} {{current_user.profile.last_name}}</h1>
        <img src="static/uploads/{{current_user.id}}/{{current_user.profile.picture}}/" width="100wh">
        {%endif%}
    </div>
</div>
{%endblock%}